<!DOCTYPE html>
<html>

  <head>
      <title>Collective Textile</title>
      <meta charset="utf-8">
      <meta http-equiv="refresh" content="500" >
  </head>

  <body>

  <table cellpadding="5" cellspacing="5">
      <tr>
          <th>Pattern</th>
          <th>Nick</th>
          <th>Repeats</th>
      </tr>
        <tr>
            <th>
                <img src="static/{{data.name}}" width="600">
            </th>
            <th>
                {{data.nickname}}
            </th>
            <th>
                {{data.num}}
            </th>
        </tr>
  </table>
  </body>

</html>
